<form action="#">
  <fieldset>
    <legend>Skite Away!</legend>
    <div class="row">
      <div {{bindAttr class=":large-10 :columns isValid::error"}}>
        {{input type=text value=input}}
        {{#unless isValid}}
          <small>{{errors}}</small>
        {{/unless}}
      </div>
      <div class="large-2 columns"><button class="button small" {{action addAchievement}}>Add</button></div>
    </div>
  </fieldset>
</form>