<div class="row">
  <div class="large-4 columns">Lists</div>
  <div class="large-8 columns">

    {{ outlet }}


    <div class="left">
      <h3>Achievements</h3>
    </div>
    <div class="right">
      {{#linkTo achievements.new}}<img src="/assets/plus.png">{{/linkTo}}
    </div>
    <hr>

    <ul class="achievements">
      {{#each controller}}
        {{#unless isDirty}}
        <li>
          <span>{{ date achievedAt }}</span>
          {{#linkTo achievement this}}{{ title }}{{/linkTo}}
        </li>
        {{/unless}}
      {{else}}
        <li>
          <h4>There are no achievements yet.</h4>
        </li>
      {{/each}}
    </ul>
  </div>
</div>