<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Skite</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li><a href="#">Lists</a></li>
      <li><a href="#">Achievements</a></li>
    </ul>
  </section>
</nav>

<div class="container">

  <div class="row panel">
    <div id="avatar" class="large-4 columns">
      <img src="/assets/ninja.png" >
    </div>
    <div id="about-me" class="large-8 columns">
      <h2>About me</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, eos, incidunt, nisi possimus saepe eligendi sapiente fugiat quaerat id mollitia aliquam voluptatem atque similique fuga pariatur vero consectetur inventore ex.</p>
      <p class="links right">
        <img src="/assets/fc-webicon-twitter.png" alt="">
        <img src="/assets/fc-webicon-facebook.png" alt="">
      </p>
    </div>
  </div>

  <div class="row">
    <ul class="large-block-grid-3">
      <li>
        <h3 class="subheader" style="text-align:center;">2013</h3>
        <hr>
        <ul>
          <li><small>05.01</small> Passed exam for driver license</li>
          <li><small>25.01</small> Moved to better appartment</li>
          <li><small>13.02</small> Opened my own business</li>
          <li><small>01.04</small> Get married</li>
          <li><small>04.05</small> Preped everything for the vacation abroad</li>
        </ul>
      </li>
      <li>
        <h3 class="subheader" style="text-align:center;">Books</h3>
        <hr>
        <ul>
          <li><small>27.10.12</small> Rails in Action</li>
          <li><small>13.03.13</small> Game of Thrones</li>
          <li><small>18.04.13</small> Object-oriented design</li>
        </ul>
      </li>
    </ul>
  </div>
</div>
