<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Skite</a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
      <li>{{#linkTo lists}}Lists{{/linkTo}}</li>
      <li>{{#linkTo achievements}}Achievements{{/linkTo}}</li>
      <li>{{#linkTo logout}}Logout{{/linkTo}}</li>
    </ul>
  </section>
</nav>

<div class="container">
  {{ outlet }}
</div>