<h2>Lists</h2>

<ul class="filters">
  {{#each controller}}
  <li>
    {{#linkTo list this}}{{title}}{{/linkTo}}
     - <span class="round label">{{achievementsCount}}</span>
  </li>
  {{/each}}
</ul>