

<div class="row panel">
  <div id="avatar" class="large-4 columns">
    <img src="/assets/ninja.png" >
  </div>
  <div id="about-me" class="large-8 columns">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, eos, incidunt, nisi possimus saepe eligendi sapiente fugiat quaerat id mollitia aliquam voluptatem atque similique fuga pariatur vero consectetur inventore ex.</p>
    <p class="links right">
      <img src="/assets/fc-webicon-twitter.png" alt="">
      <img src="/assets/fc-webicon-facebook.png" alt="">
    </p>
  </div>
</div>

<div class="row">
  <ul class="large-block-grid-3">
    {{#each controller}}
    <li>
      <h3 class="subheader" style="text-align:center;">{{title}}</h3>
      <hr>
      {{view Skite.ListItemsView contentBinding="achievements"}}
    </li>
    {{/each}}

    </li>
  </ul>
</div>
