<form action="#" class="login">
  <fieldset>
    <legend>Login</legend>

    {{#if view.errorMessage}}
    <div class="alert-box alert">
      {{view.errorMessage}}
    </div>
    {{/if}}

    <label>Email:</label>
    {{input type=text value=view.email}}

    <label>Password:</label>
    {{input type=password value=view.password}}

    <button class="button" type="submit">Login</button>
  </fieldset>
</form>